body{
    margin: 0;
}


#flex_container1{
    background-color: gray;
    height: 600px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex_item{
    background-color: red;
    color: white;
    height: 200px;
    width: 200px;
}